# Virtual environments
.venv/
venv/
env/
ENV/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files  
.env
*.env

# IDEs
.idea/
.vscode/
*.swp

# Test codes
test3.py
test2.py
kaggle_upload.py
pipeline.yml

# Temporary files
dataset/


